<!--Meta Tags-->
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--Title-->
<title>MARLBORO.PH</title>
<!--Stylesheets-->
<link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<link rel="stylesheet" href="{$basedomain}assets/css/icon.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/superfish.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/flexslider.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/turn.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/bigvideo.css">
<link rel="stylesheet" href="{$basedomain}assets/css/point_of_viuu_top.css" />
<link rel="stylesheet" href="{$basedomain}assets/css/marlboro.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/ie-marlboro.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/responsive.css" type="text/css"  media="all" />
<link type="text/css" href="{$basedomain}assets/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/video-js.css" type="text/css" />
<link type="text/css" href="{$basedomain}assets/css/atooltip.css" rel="stylesheet" media="all" />
<!--Favicon-->
<link rel="shortcut icon" href="{$basedomain}assets/images/favicon_temp.png" type="image/x-icon" />
<!--JavaScript-->
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>-->
<script type="text/javascript" src="{$basedomain}assets/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery-ui-1.8.min.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/superfish.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/superfish.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery.watermark.js"></script>

<script type="text/javascript" src="{$basedomain}assets/js/turn.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/respond.src.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery.lwtCountdown-1.0.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/customform.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery-perspective-min.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/scripts.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/modernizr.custom.80212.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/video.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery.atooltip.js"></script>
<!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="{$basedomain}assets/js/selectivizr-min.js"></script>
<![endif]-->
<script  type="text/javascript" src="{$basedomain}assets/js/jquery.form.js"></script>
<script  type="text/javascript" src="{$basedomain}assets/js/helper/masterpursuit.js"></script>
<script>
	var basedomain = "{$basedomain}" ;
	var pages = "{$pages}" ;
	var locale = {$locale|@json_encode} ;
	var lifetime = "{$lifetime}";
	var isLogin = "{$isLogin}";	

</script>
