<div class="theContent">
    <div class="theTitle">
        <h2>DASHBOARD</h2>
    </div><!--contenttitle-->
    <div class="theTitle">
        <h4>News From Admin</h4>
    </div><!--contenttitle-->
    <table cellpadding="0" cellspacing="0" border="0" id="table1" class="stdtable inputable">
        <tbody>
            <tr>
                <td><!--
                	<a href="index.php?s=inBound" class="btn btn_document"><span>Inbound2222</span></a>
                   	<a href="index.php?s=arcLightOutbound" class="btn btn_flag"><span>Out Bound</span></a>
                	<a href="index.php?s=users" class="btn btn_users"><span>User</span></a>-->
                    <ul class="columns-2">
                    	<li class="col2">
                            <div class="boxAdmin">
                                <div class="theTitle">
                                    <h4>judul1</h4>
                                </div><!--contenttitle-->
                                <div class="isi_admin">
                                	 <div class="theTitle">
                                        <h6>User</h6>
                                        <label>Total</label>:<span>100</span><br />
                                        <label>Verified</label>:<span>90</span><br />
                                        <label>Blocked</label>:<span>1</span><br />
                                    </div>
                                    <div class="theTitle">
                                        <h6>DYO</h6>
                                        <label>Upload</label>:<span>100</span><br />
                                    </div>
                                    <div class="theTitle">
                                        <h6>Letters</h6>
                                        <label>Total</label>:<span>100</span><br />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col2">
                            <div class="boxAdmin">
                                <div class="theTitle">
                                    <h4>judul2</h4>
                                </div><!--contenttitle-->
                                <div class="isi_admin">
                                	<a href="index.php?s=inBound" class="btn btn_document"><span>Inbound</span></a>
                                    <a href="index.php?s=arcLightOutbound" class="btn btn_flag"><span>Out Bound</span></a>
                                    <a href="index.php?s=users" class="btn btn_users"><span>User</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="boxAdmin">
                    	<div class="theTitle">
                            <h4>judul3</h4>
                        </div><!--contenttitle-->
                        <div class="isi_admin">
                        	 <div class="theTitle">
                                <h6>Apa yg diupload</h6>
                                <ul>
                                    <li>publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        
                                    </li>
                                    <li>publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </li>
                                    <li>publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </li>
                                </ul>
                            </div>
                             <div class="theTitle">
                                <h6>Last Winner</h6>
                                <ul>
                                    <li>publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table><br /><br />
</div><!--theContent-->